@import '../global';

.header {
  color: #000;
  position: absolute;
  top: 56px;
  width: 100%;

  & > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 600;
  }

  &__nav {
    display: flex;

    li {
      margin: 0 5px;

      a {
        padding: 3px 10px;

        &:hover {
          color: rgba(253, 180, 97, .82);
        }
      }
    }
  }
}